USE [master]
GO
/****** Object:  Database [ProjectC#]    Script Date: 12/13/2017 1:09:24 PM ******/
CREATE DATABASE [ProjectC#]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectC#', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectC#.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectC#_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectC#_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectC#].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectC#]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/13/2017 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](max) NOT NULL,
	[password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Media]    Script Date: 12/13/2017 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Media](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[url] [nvarchar](max) NOT NULL,
	[type] [bit] NOT NULL,
 CONSTRAINT [PK__Media__737584F7AAD951FA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Playlist]    Script Date: 12/13/2017 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_Playlist] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Playlist_Media]    Script Date: 12/13/2017 1:09:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Playlist_Media](
	[playlist_id] [int] NOT NULL,
	[media_id] [int] NOT NULL,
 CONSTRAINT [PK_PlayList_Media] PRIMARY KEY CLUSTERED 
(
	[playlist_id] ASC,
	[media_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Playlist]  WITH CHECK ADD  CONSTRAINT [FK_Playlist_Account1] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([id])
GO
ALTER TABLE [dbo].[Playlist] CHECK CONSTRAINT [FK_Playlist_Account1]
GO
ALTER TABLE [dbo].[Playlist_Media]  WITH CHECK ADD  CONSTRAINT [FK_PlayList_Media_Media] FOREIGN KEY([media_id])
REFERENCES [dbo].[Media] ([id])
GO
ALTER TABLE [dbo].[Playlist_Media] CHECK CONSTRAINT [FK_PlayList_Media_Media]
GO
ALTER TABLE [dbo].[Playlist_Media]  WITH CHECK ADD  CONSTRAINT [FK_PlayList_Media_Playlist] FOREIGN KEY([playlist_id])
REFERENCES [dbo].[Playlist] ([id])
GO
ALTER TABLE [dbo].[Playlist_Media] CHECK CONSTRAINT [FK_PlayList_Media_Playlist]
GO
USE [master]
GO
